@font-face {
  font-family: 'Satoshi';
  src: local("Satoshi Light"), local("Satoshi-Light"), url("../../assets/fonts/satoshi/Satoshi-Light.woff2") format("woff2"), url("../../assets/fonts/satoshi/Satoshi-Light.woff") format("woff"), url("../../assets/fonts/satoshi/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Satoshi';
  src: local("Satoshi Light"), local("Satoshi-Light"), url("../../assets/fonts/satoshi/Satoshi-Light.woff2") format("woff2"), url("../../assets/fonts/satoshi/Satoshi-Light.woff") format("woff"), url("../../assets/fonts/satoshi/Satoshi-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Satoshi';
  src: local("Satoshi Medium"), local("Satoshi-Medium"), url("../../assets/fonts/satoshi/Satoshi-Medium.woff2") format("woff2"), url("../../assets/fonts/satoshi/Satoshi-Medium.woff") format("woff"), url("../../assets/fonts/satoshi/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Graphik';
  src: local("Graphik Light"), local("Graphik-Light"), url("../../assets/fonts/graphik/Graphik-Light.woff2") format("woff2"), url("../../assets/fonts/graphik/Graphik-Light.woff") format("woff"), url("../../assets/fonts/graphik/Graphik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Graphik';
  src: local("Graphik Regular"), local("Graphik-Regular"), url("../../assets/fonts/graphik/Graphik-Regular.woff2") format("woff2"), url("../../assets/fonts/graphik/Graphik-Regular.woff") format("woff"), url("../../assets/fonts/graphik/Graphik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Graphik';
  src: url("../../assets/fonts/graphik/Graphik-Medium.woff2") format("woff2"), url("../../assets/fonts/graphik/Graphik-Medium.woff") format("woff"), url("../../assets/fonts/graphik/Graphik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

.text-body-xl {
  font-family: "Graphik", sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
  color: unset; }
  .text-body-xl--medium {
    font-family: "Graphik", sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
    color: unset;
    font-weight: 500; }
  .text-body-xl--mobile {
    font-family: "Graphik", sans-serif;
    line-height: 1.6;
    color: unset;
    font-size: 1.125rem; }
  @media only screen and (max-width: 768px) {
    .text-body-xl {
      font-size: 1.125rem; } }

.text-body-lg {
  font-family: "Graphik", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  color: unset; }
  .text-body-lg--medium {
    font-family: "Graphik", sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
    color: unset;
    font-weight: 500; }
  @media only screen and (max-width: 768px) {
    .text-body-lg {
      font-size: 1rem; } }

.text-body-regular {
  font-family: "Graphik", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: unset; }
  .text-body-regular--bold {
    font-family: "Graphik", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: unset;
    font-weight: 700; }
  @media only screen and (max-width: 768px) {
    .text-body-regular {
      font-size: 1rem;
      line-height: 1.6; } }

.btn-lg {
  font-family: "Graphik", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.02em; }
  @media only screen and (max-width: 576px) {
    .btn-lg {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.6;
      letter-spacing: 0.02em; } }

.btn {
  font-family: "Graphik", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.02em; }
  @media only screen and (max-width: 576px) {
    .btn {
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 1.6;
      letter-spacing: 0.02em; } }

.text-display-1 {
  font-family: "Satoshi", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  line-height: .96; }
  @media only screen and (max-width: 576px) {
    .text-display-1 {
      font-size: 3.5rem;
      font-weight: 600;
      line-height: .96; } }
  @media only screen and (max-width: 375px) {
    .text-display-1 {
      font-size: 3rem; } }

.text-display-2 {
  font-family: "Satoshi", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6; }
  @media only screen and (max-width: 576px) {
    .text-display-2 {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.6; } }

.text-display-3 {
  font-family: "Satoshi", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6; }
  @media only screen and (max-width: 576px) {
    .text-display-3 {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.6; } }

blockquote {
  padding: 3rem 2.5rem;
  border-left-width: 0.25rem;
  border-left-color: #1E5DBC;
  background-color: #F5F9FE;
  font-family: "Graphik", sans-serif;
  color: #1E5DBC;
  font-size: 1.25rem;
  line-height: 1.6; }
  @media only screen and (max-width: 768px) {
    blockquote {
      padding: 2rem; } }
  @media only screen and (max-width: 576px) {
    blockquote {
      font-size: 1.125rem;
      padding: 1.5rem; } }

.color-primary {
  color: #1E5DBC; }

.color-secondary {
  color: #4EB2F9; }

.color-tertiary {
  color: #F5F9FE; }

.color-text-darker {
  color: #0F2F64; }

.color-text-dark {
  color: #536288; }

.color-text-light {
  color: #8B98B8; }

.color-text-lighter {
  color: #E1E3E8; }

.color-white {
  color: #ffffff; }

* {
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  margin: 0 auto;
  color: #E1E3E8;
  font-family: "Graphik", sans-serif;
  overflow-x: hidden; }
  body.body-header {
    padding-top: 6.75rem; }

h1,
h2,
h3,
h4,
p {
  margin: 0; }

h1 {
  font-size: 3.5rem;
  font-family: "Satoshi", sans-serif;
  line-height: 1.2;
  font-weight: 500; }

h2 {
  font-size: 2.5rem;
  font-family: "Satoshi", sans-serif;
  line-height: 1.2; }

h3 {
  font-size: 1.5rem;
  font-family: "Satoshi", sans-serif;
  line-height: 1.1; }

h4 {
  font-size: 1.25rem;
  font-family: "Satoshi", sans-serif;
  line-height: 1.2; }

h5 {
  font-size: 1.125rem;
  font-family: "Satoshi", sans-serif;
  line-height: 1.2; }

h6 {
  font-size: 1rem;
  font-family: "Satoshi", sans-serif;
  line-height: 1.2; }

a {
  text-decoration: none;
  color: #1E5DBC;
  cursor: pointer;
  transition: all linear .2s; }
  a:hover {
    color: #0F2F64; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.pattern,
.ornament {
  pointer-events: none; }

.bold {
  font-weight: 600; }

.italic {
  font-style: italic; }

.bullet-list {
  list-style: disc; }

.numered-list {
  list-style: decimal; }
