$xs: 0;
$xs-1: 320px;
$xs-2: 375px;
$xs-3: 426px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$lg-2: 1064px;
$xl: 1200px;
$xxl: 1400px;
$xxl-2: 1440px;

///////////////////////////////////////
//Colors
//Brand Color
$color-primary: #FB8500 ;
$color-secondary: rgba(251, 133, 0, 0.2);
$color-btn-hover: #f08000;

//Text Color
$color-text-dark: #878787;
$color-text-light: #9C9C9C;

//Base Color
$color-black: #1E1E1E;
$color-white: #ffffff;

///////////////////////////////////////
// Typography
$font-family-primary: 'Satoshi', sans-serif;
$font-family-secondary: 'Graphik',  sans-serif;

///////////////////////////////////////
// Shadow
$shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);